<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Trabalho de Conclusão de Curso da Graduação">
        <meta name="author" content="Marcelo Machado Pereira">

        <title>UV Friendly</title>
        <link rel="icon" href="{% static 'sistema/favicon.ico' %}">

        <!-- Bootstrap core CSS-->
        <link href="{% static 'sistema/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Custom fonts for this template-->
        <link href="{% static 'sistema/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

        <!-- Custom styles for this template-->
        <link href="{% static 'sistema/css/sb-admin.css' %}" rel="stylesheet">

    </head>

    <body class="bg-dark">
    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

        <a class="navbar-brand mr-1" href="{% url 'website:index' %}"><i class="far fa-sun"></i>&nbsp;UV Friendly</a>
        {% if user.is_authenticated %}
        <span style="margin-left:5%;color:white;">Olá {{ user.username }}!</span>
        {% else %}
        <span style="margin-left:5%;color:white;">Olá Visitante!</span>
        {% endif %}
    </nav>

    <div class="container">
        {% block content %}

        {% endblock %}
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'sistema/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'sistema/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'sistema/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    </body>
</html>