        {% extends 'sistema/base.html' %}
        <!-- template main of watcheds -->
        {% block content %}
            <li class="breadcrumb-item active">Canais</li>
          </ol>

          <!-- Page Content -->
          <h1>Canais Monitorados</h1>
          <hr>
          <p>
              <a class="btn btn-primary js-scroll-trigger" href="#"><i class="fas fa-plus"></i></a>
              <a class="btn btn-primary js-scroll-trigger" href="#"><i class="fas fa-edit"></i></a>
              <a class="btn btn-primary js-scroll-trigger" href="#"><i class="fas fa-trash-alt"></i></a>
              <a class="btn btn-primary js-scroll-trigger" href="#"><i class="fas fa-search"></i></a>
          </p>
        {% endblock %}