        {% extends 'sistema/base.html' %}
        <!-- template main of technologies -->
        {% block content %}
                <li class="breadcrumb-item">Configurações</li>
            </ol>
            <!-- Page Content -->
            <div class="card-header mb-3">
                <a class="btn btn-primary js-scroll-trigger" href="{% url 'crud:form_techs' %}">
                    <i class="fas fa-plus"></i>
                </a>&nbsp;&nbsp;Tecnologias
            </div>
            <div class="card card-box">
                <table class="table-bordered">
                    <tr align="center" bgcolor="#e8ebee">
                        <td><strong>NOME</strong></td><td><strong>CLASSE</strong></td><td><strong>ALT</strong></td><td><strong>STATUS</strong></td><td><strong>AÇÕES</strong></td>
                    </tr>
                    {% for tech in tecnologias %}
                    <tr align="center">
                        <td>{{ tech.nome }}</td>
                        <td>{{ tech.classe }}</td>
                        <td>{{ tech.alt }}</td>
                        <td>{{ tech.status }}</td>
                        <td>
                            <a class="btn js-scroll-trigger" href="{% url 'crud:form_techs' tech.id %}"><i class="fas fa-edit"></i></a>
                            <a class="btn js-scroll-trigger" href="{% url 'crud:dele_techs' tech.id %}"><i class="fas fa-trash-alt"></i></a>
                            <a class="btn js-scroll-trigger" href="{% url 'crud:view_techs' tech.id %}"><i class="fas fa-search"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        {% endblock %}