        {% extends 'sistema/base.html' %}
        <!-- form to create and update of users -->
        {% block content %}
                <li class="breadcrumb-item active">Configurações</li>
            </ol>
            <!-- Page Content -->
            <div class="card-header mb-3">
                <a class="btn btn-primary js-scroll-trigger" href="{% url 'sistema:users' %}">
                    <i class="fas fa-undo-alt"></i>
                </a>&nbsp;&nbsp;Usuários
            </div>
            <div class="card card-box mx-auto">
                <div class="card-body">
                    <form method="post">
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-label-group">
                                        {% csrf_token %}
                                        <table class="card-register mx-auto">
                                            {{ form.as_table }}
                                        </table>
                                    </div>
                                </div>
                            </div><br>
                            <input class="btn btn-primary" type="submit" value="Salvar">
                        </div>
                    </form>
                </div>
            </div>
        {% endblock %}